*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: aqua;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAV STYLE------------- */

nav{
    display: flex;
    justify-content: center;
    height: 2.5rem;
    background-color: yellow;
    border: dashed 1px black;
    width: 60%;
}

nav div{
    border: dashed 1px black;
    display: flex;
    align-items: center;
}

nav div:first-child, nav :nth-child(3){
    width: 25%;
}

nav div:nth-child(3){
    justify-content: end;  
}

nav div:nth-child(2){
    justify-content: center; 
    width: 50%;
}

/*  END NAV STYLE----------------------------- */

/* PRIMA SECTION STYLE-------------------------- */

section {
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.blue *{
    background-color: rgb(255, 192, 245);
    width: calc(100% - 20rem);
    height: 30rem;
    border: dashed 1px black;
}

.blue{
    background-color: blue;

}
/*  FINE PRIMA SECTION STYLE-------------------------------- */

/* SECONDA SECTION STYLE----------------------------------- */

section:nth-child(3) *{
    /* width: calc(100% - 20rem); */
    height: 30rem;
    border: dashed 1px black;
}

.blue-container{
    background-color: blue;
    width: 60%;

}

.pink-container{
    background-color: pink;
    width: 40%;
}

.flex-container{
    width: 60rem;
    height: 30rem;
    display: flex;
    border: dashed 1px black;


}

/* FINE SECONDA SEZIONE STYLE------------------------------- */

/* TERZA SECTION STYLE----------------------------------- */

.grey{
    background-color: grey;
}

.grey .flex-container{
    flex-direction: row-reverse;
}

/* FINE TERZA SEZIONE STYLE---------------------- */