*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: aqua;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* NAV STYLE------------- */

nav{
    display: flex;
    justify-content: center;
    height: 2.5rem;
    background-color: yellow;
    border: dashed 1px black;
    width: 60%;
}

nav div{
    border: dashed 1px black;
    display: flex;
    align-items: center;
}

nav div:first-child, nav :nth-child(3){
    width: 25%;
}

nav div:nth-child(3){
    justify-content: end;  
}

nav div:nth-child(2){
    justify-content: center; 
    width: 50%;
}

/*  END NAV STYLE----------------------------- */

/* PRIMA SECTION STYLE-------------------------- */

section{
    background-color: blue;
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center ;
}

section *{
    background-color: rgb(255, 192, 245);
    width: calc(100% - 20rem);
    height: 30rem;
    border: dashed 1px black;
}

/*  FINE PRIMA SECTION STYLE-------------------------------- */